<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Mon Site{% endblock %}</title>

        <!-- Inclure le CSS et le JS de JSPreadsheet -->
        <link rel="stylesheet" type="text/css" href="https://jspreadsheet.com/v4/jspreadsheet.css" />
        <script type="text/javascript" src="https://jspreadsheet.com/v4/jspreadsheet.js"></script>
        
        {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
        {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
